# App Configuration
APP_URL=https://pulse-healthcare-platform-882980549076.us-west1.run.app

# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_STRIPE_PRICE_ID_MONTHLY=
VITE_STRIPE_PRICE_ID_YEARLY=
